


div.content{
    margin: 0;
    margin-top: 50px;
    position: absolute;
}

div.review{
    margin-bottom: 20px;
}

h1,h2,p{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p{
    font-size: 10px;
}
h1{
    font-size: 16px;
}
h2{
    font-size: 14px;
}
input.submit_review{
    position: relative;
    float: right;
    cursor: pointer;
    margin: 5px 0 0 0;
}

input.submit_review :hover{
    cursor: hand;
}

label{
    display: block;
}

ul{
    list-style-type: none;
}
ul li{
    display: inline-block;
    margin: 5px 10px 0 0;

    background-color: blue;

}

a.link-button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    display: inline;
    color: initial;

    margin: 5px 0 0 0;

    position: absolute;
    float: left;
}

ul li a{
    display: inline-block;
    text-decoration: none;
    color: white;

    padding: 5px 10px 5px 10px;
    background-color: blue;

    border-color: silver;
    border-width: 2px 2px 2px 2px;
    border-style: solid;
}

@media screen and (max-width: 599px) {
    ul li{
        display: table;
    }
    div.content{
        margin-top: 30px;
    }
}

ul li :hover{
    text-decoration: underline;
}



